$mainNav:  #222525;
$primaryColor: #ffc500;
$secondaryColor: #c21500;
$grayPrimaryColor: rgb(156, 152, 152);
$graySecondaryColor: rgb(185, 185, 185);
$grayTertiaryColor: #ddd;
$gray: rgb(74, 73, 73);
$redColor: #d5392e;
$medium-min: 640px;
$medium-max: 1023px;
$large-min: 1024px;

$font-family: 'Gentium Book Basic', serif;
