$mainNav:  #222525;
$primaryColor: #ffc500;
$secondaryColor: #c21500;
$grayPrimaryColor: rgb(156, 152, 152);
$graySecondaryColor: rgb(185, 185, 185);
$grayTertiaryColor: #ddd;
$redColor: #d5392e;

$font-family: 'Gentium Book Basic', serif;
