@import '../shared/main.scss';

.main-menu{
	&__nav{
		width: 100%;
		height: 100vh;
		display: flex;
		cursor: pointer;
		font-family: $font-family;
	}

	&__nav-bar{
		width: 100%;
		background: black;
		position: absolute;
		z-index: 1;
	}

	&__logo{

		&-container{
			position: absolute;
			text-align: center;
			top: 2px;
			left: 50%;
		}
		&-image{
			width: 50px;
			height: 50px;
			margin: 0 auto;
			top: 0;
			left: 0;
		}
	}

	&__hamburger{
		width: 50px;
		height: 50px;
		position: relative;
		border: none;
		background-color: transparent;
		padding: 0;
		top: 4px;
		left: 20px;

		&:focus{
			border: 0.3px solid yellow;
		}

		&-line{
			position: absolute;
			width: 40px;
			height: 5px;
			top: 2px;
			left: 2px;
			background: white;
			border-radius: 2px;
			margin: 2px;

			&-first{
				top: 0px;
			}

			&-middle{
				top: 18px;
			}

			&-last{
				top: 36px;
			}
		}

		&--clicked{
			.main-menu__hamburger-line{
				background: rgb(224, 81, 25);
				transition: 0.4s ease-in-out;
			}

			.main-menu__hamburger-line-first{
				top: 18px;
				transform: rotate(45deg);
			}

			.main-menu__hamburger-line-middle{
				opacity: 0;
			}

			.main-menu__hamburger-line-last{
				top: 18px;
				transform: rotate(-45deg);			
			}
		}
	}

	&__list{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 0;
		background: $mainNav;
		position: relative;
		transition: 1s ease-in-out;
		top: 0;
		font-size: 40px;
		overflow: auto;
		text-align: left;

		&--activate{
			top: 50px;
			height: 800px;
			transition: 1s ease-in-out;
		}

		&-item{
			width: 100%;
			z-index: 1;
			background-color: $mainNav;
			padding-top: 10px;
		}

		&__item-link{
			margin: 20px;
		}

		&__subitem-link{
			width: 100%;
			text-decoration: none;
			color: black;
			font-size: 35px;
			margin: 10px; 
		}

		&__link-item{
			width: 100%;
			margin-left: 20px;
			text-decoration: none;
			color: white;
		}

		&-item-button{
			width: 100%;
			height: 100%;
			background-color: transparent;
			font-size: 40px;
			border: none;
			text-align: left;	
			border-bottom: 1px solid black;
			padding: 15px;
			color: #ddd;
			padding-top: 30px;
    	padding-bottom: 30px;

			&:hover{
				color: black;
				background-color: #ddd;
			}
		}
		
		&__link{
			width: 100%;
			will-change: height;
			overflow: hidden;
			height: 0;
			transition: height 1s ease-in-out;
			
			&--activate{
				height: 195px;
				background-color: #454747;
			}
		}
	}
}
