@import '../shared/main.scss';

.main-menu{
	&__nav{
		width: 100%;
		height: 100vh;
		display: flex;
		cursor: pointer;
		font-family: $font-family;
	}

	&__nav-bar{
		width: 100%;
		background: rgb(214, 210, 210);
		position: absolute;
		z-index: 1;
	}

	&__logo{

		&-container{
			position: absolute;
			text-align: center;
			top: 0;
			left: 50%;
		}
		&-image{
			width: 50px;
			height: 50px;
			margin: 0 auto;
			top: 0;
			left: 0;
		}
	}

	&__hamburger{
		width: 50px;
		height: 50px;
		position: relative;
		border: none;
		background-color: transparent;
		padding: 0;
		top: 3px;
		left: 5px;

		&:focus{
			border: 1px solid red;
		}

		&-line{
			position: absolute;
			width: 40px;
			height: 5px;
			top: 2px;
			left: 2px;
			background: black;
			border-radius: 2px;
			margin: 2px;

			&-first{
				top: 0px;
			}

			&-middle{
				top: 18px;
			}

			&-last{
				top: 36px;
			}
		}

		&--clicked{
			.main-menu__hamburger-line{
				background: rgb(224, 81, 25);
				transition: 0.4s ease-in-out;
			}

			.main-menu__hamburger-line-first{
				top: 18px;
				transform: rotate(45deg);
			}

			.main-menu__hamburger-line-middle{
				opacity: 0;
			}

			.main-menu__hamburger-line-last{
				top: 18px;
				transform: rotate(-45deg);			
			}
		}
	}

	&__list{
		width: 100%;
		height: 0;
		background: $mainNav;
		position: relative;
		transition: 1s ease-in-out;
		top: 0;
		font-size: 30px;
		overflow: auto;
		text-align: left;

		& a:hover{
			background-color: #ddd;
		}

		&--activate{
			top: 50px;
			height: auto;
			transition: 1s ease-in-out;
		}

		&-item{
			width: 100%;
			z-index: 1;
			background-color: $mainNav;
			margin-left: 2px;

			&:hover{
					background: rgb(224, 81, 25);
			}
		}

		&-item-button{
			width: 100%;
			background-color: transparent;
			font-size: 30px;
			border: none;
			text-align: left;		
		}

		&__link{
			width: 100%;
			will-change: height;
			overflow: hidden;
			height: 0;
			margin-left: 20px;
			transition: height .3s ease-in-out;
			
			&--activate{
				height: auto;
			}
		}

		&__item-link{
			text-decoration: none;
		}
	}
}
