section.heroDecorative
  div.hero__header-container
    h1.hero__header-title #{heroDecorative.header}
    h2.hero__header-description #{heroDecorative.description}
    a.hero__header-link(href = heroDecorative.cta.url) #{heroDecorative.cta.label}
  div.hero__image-container
